html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
}

#inside {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#barcode, .line {
	height: 10000px;
}

.line {
	position: absolute;
	width: 10px;
}

#box {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #000;
	color: #aaa;
	padding: 10px;
	max-width: 75%;
	border-radius: 8px;
}

#selector select {
	font: normal 16px rubik, arial, sans-serif;
	border: 0 none #fff;
	padding: 2px;
	margin-bottom: 5px;
	background: #fff;
	color: #000;
}

#explanation {
	font: normal 14px rubik, arial, sans-serif;
}

#explanation a,
#explanation span.clickable {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

#explanation a:hover,
#explanation span.clickable:hover {
	cursor: pointer;
	border-bottom: 1px dotted #fff;
}

.widescreenonly {
	display: none;
}

:not(:fullscreen) .yesfullscreen {
	display: none;
}

:fullscreen .yesfullscreen {
	display: inline;
}

:not(:fullscreen) .nofullscreen {
	display: inline;
}

:fullscreen .nofullscreen {
	display: none;
}

@media (max-width: 800px) {
	#selector select {
		font-size: 14px;
		max-width: 95%;
	}
	
	.hidesmallscreens {
		display: none;
	}
}