html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
}

#inside {
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -240px;
	margin-left: -50%;
	width: 100%;
}

#barcode, .line {
	height: 375px;
}

.line {
	position: absolute;
	width: 5px;
}

#selector {
	margin-top: 20px;
	text-align: center;
}

#selector select {
	font: bold 24px rubik, arial, sans-serif;
	text-align-last: center;
	padding-left: 10px;
	border: 0;
	max-width: 100%;
}

#explanation {
	text-align: center;
	font: normal 15px rubik, arial, sans-serif;
	font-weight: 300;
	color: #aaa;
	margin-top: 18px;
	padding-bottom: 3px;
}

#explanation a,
#explanation span.clickable {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #000;
}

#explanation a:hover,
#explanation span.clickable:hover {
	cursor: pointer;
	border-bottom: 1px dotted #999;
}

.normalonly {
	display: none;
}

:not(:fullscreen) .yesfullscreen {
	display: none;
}

:fullscreen .yesfullscreen {
	display: inline;
}

:not(:fullscreen) .nofullscreen {
	display: inline;
}

:fullscreen .nofullscreen {
	display: none;
}

@media (max-width: 800px) {
	#selector select {
		font-weight: normal;
		font-size: 14px;
	}
}